@tailwind base;
@tailwind components;
@tailwind utilities;


header::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Kolor tła z przezroczystością (RGBA) */
    z-index: 5; /* Umieść nad wideo (zmień wartość według potrzeb) */
}