@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

.nav-collapse{
    left:0 !important
}

.about-bg{
    background-image: url('../../public/assets/images/headerBG.png');
}

.box-shadow{
    box-shadow: 0px 1px 20px 1px white;
}

.box-shadow--nav{
    box-shadow: 0px 3px 20px 3px white}

body{
    font-family: 'Roboto', sans-serif;
}

    h1,h2,h3,h4,h5,h6,h7{
        font-family: 'Roboto Condensed', sans-serif;


    }

    